@charset "utf-8";

/*mainCon01*/
.mainCon01{height: 360px; padding-top:160px;background:url(../images/con01Bg.png) no-repeat 100% 0;}
.mainCon01 h3{width:50%; text-align: center; float: left; height: 300px; line-height: 350px; box-sizing: border-box; border-right: 1px solid;}
.mainCon01 p{width: 400px; display: inline-block;}
    .con01Txt{width: 50%; float: right; padding:50px 100px; box-sizing: border-box;}


/*mainCon02*/
.mainCon02{text-align: center;background: url(../images/con02Bg.png) no-repeat 50%;}
.mainCon02 .inner>img{margin: 250px 0 300px;}

.portfolio{border: 3px solid; position: relative; height: 920px; background: #F4F4F4;}
    .portfolio h3{font-family: 'Distant Stroke'; font-weight: 300; font-size:150px; position: absolute; left: 50%; margin-left: -100px; top: 30px;}
    .portfolio img{padding: 150px 0 30px; margin: 0 auto;}
    .portfolio h5{font-size: 25px;}
    .portfolio p{line-height: 30px; font-weight: 300;}
    .portfolio .slick-slide{position: relative;}
    .siteInfo{height: 35px;display: inline-block;margin: 20px 0 30px;}
    .siteInfo li{float: left; margin-right: 10px; border: 1px solid ;border-radius: 20px; font-size: 15px;padding: 3px 10px;}

/*자세히보기*/
.more{color: #000;display: inline-block; padding:20px 0; font-weight: 500;}
.more:after{content:""; display: block; width: 0; height: 1px; background: #000; margin: 10px auto;transition: all 1s;}
.more:hover:after{width: 100%;}

/*화살표*/
.arrow{position: absolute; top:50%; background: url(../images/con02Arrow.png) no-repeat; width: 40px; height: 30px;text-indent: -9999px; margin-top: -15px; background-size: 80px; cursor: pointer;}
.prevArrow{left: 20px; z-index: 10;}
.nextArrow{right: 20px;background-position: right}

.Flower02{margin:300px 0;}

/*mainCon03*/
.mainCon03{height: 830px;margin-bottom: 300px; width: 95%; margin: 0 0 0 auto;}
    .con03Txt{width:45%; text-align: right; padding-right: 50px; box-sizing: border-box; border: 3px solid #BDC8AC; border-top-left-radius: 150px; height: 825px;background: #F4F4F4;float: left;}
    .con03Txt h3{font-family: 'Distant Stroke'; font-weight: 300; font-size: 80px;padding: 150px 0 250px; background: url(../images/con03Dots.png) no-repeat 90% 80%;}
    .con03Txt p{line-height: 30px;}

    .con03Bg{width:55%;text-align: center;background: url(../images/con03Bg.png) no-repeat; height: 825px;float: left;}
    .con03Bg img{padding-top: 300px;}

/*mainCon04*/
.mainCon04>img{margin:300px auto 300px; display:block;}
    .con04Img{position: relative;display: inline-block;margin-top:115px;}
    .con04Img p{font-size: 150px; position: absolute; line-height: 120px;}
        .name{top:-115px;right: 0; text-align: right;}
        .herstory{bottom: 80px; left: -10px;}

    .con04Info{display: inline-block;position: absolute; padding-top: 200px; padding-left:80px;}
    .con04Info p{font-size: 18px; margin-bottom: 10px;}
    .con04Info h5{font-size: 25px;padding: 50px 0 20px;}
        .advList li{float: left; margin-right: 10px; font-weight: 500;}
        .skills li{float: left; text-align: center;position: relative; margin-right: 20px; height: 200px;}
        .skills li h6{margin-bottom: 10px;font-size: 14px;}
        .skills li:first-child h6{margin: 14px 0;font-size: 14px;}
        .skills li p{position: absolute; left: 50%; top:55%;margin-left: -20px; margin-bottom: 0;}

.chart {float: left; width: 33.33%; height: 230px; text-align: center;}